h3 {
    color: rgb(104, 16, 131);
}

/* muda a cor do titulo tres para roxo */
a:link {
    color: green;
}

/*muda a cor base do link*/
a:visited {
    color: blue;
}

/*muda a cor do link quando ele e visitado*/
a:hover {
    color: red;
}

/*muda a cor do link quando se passa o mouse por cima*/
body {
    background-image: url("https://wallpapers.com/images/hd/blue-minecraft-creeper-face-1az4ewsg6sa70owx.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    /*  font-family: Arial, sans-serif;
    background: linear-gradient(to right, rgb(3, 41, 41), rgb(16, 176, 165));
    color: #00ffee;
    text-shadow: 2px 2px 4px rgb(0, 68, 255);
    margin: 10px 15px 0px 15px;
*/
}

/* deixa o fundo da web com uma foto de creaper*/